# Virtual environment
.venv/

# IDE/Editor specific
.vscode/

# Agents specific
.antigravitycli/

# Python cache
__pycache__/
*.pyc

# pyenv
.python-version

# Config File
.env

# Build artifacts
*.egg-info/